{% extends 'base.html.twig' %}
{% block title %}Getsition de mon api {% endblock %}




{% block body %}

    <h1 style="font-size:24px;text-align:center;background-color:black;color:white ;padding-top:10px;padding-bottom:10px"> ICI je vais controlé mon api </h1> 

{% endblock %}