{%  extends 'base.html.twig' %}
{% block title %} DashBord Admin {% endblock %}


{% block body %}

            <h1 style="text-align:center; background-color:black;padding:20px;color:white;font-size:24px;margin:0 ;border-radius:10px"> DashBord Admin Test securité </h1>
{% endblock %}